<div class="form-group answer_field">
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :content, class: "form-control content-answer", require: true %>
    </div>
    <div class="col-md-3">
      <%= f.label :is_correct, t(".correct") %>
      <%= f.check_box :is_correct, class: "radio-answer" %>
    </div>
    <div class="col-md-3">
      <%= link_to_remove_fields t(".remove"), f %>
    </div>
  </div>
</div>
