<h3>
  <%= image_tag current_user.avatar? ? current_user.avatar.url :
    Settings.image, class: "img-responsive" %>
  <%= current_user.name %>
</h3>
<span><%= link_to t(".view_profile"), current_user %></span>
